.destinations-container {
    display: flex;
    justify-content: center;
}

.destinations-card {
    border: solid grey 2px;
    height: 25vh;
    width: 98%;
    margin: 4vh auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.destination-card-container {
    width: 95%;
}

.destinations-card {}