.destinations-container {
    display: flex;
    justify-content: center;
}

.destinations-card {
    border: solid grey 2px;
    height: 25vh;
    width: 98%;
    margin: 4vh auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    padding: 2%;
}

.destination-card-container {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
}

.tour {
    color: rgb(215 39 39 / 81%);
    font-size: x-large;
}

.itinerary {
    color: grey;
    font-size: large;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.destinations-card {
    height: 50vh;
    width: 50vh;
}