.images-bucket {
    gap: 12px;
    display: flex;
    flex-wrap: wrap;

}

.img-style {
    width: 30vh;
    height: 25vh;

}

.option-container {
    position: relative;
}

.option-list {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    color: #ffffff;
    transform: translate(-50%, -50%);
}

.img-style:hover {}