.header-container {
    height: 150px;
}

.header-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.logo {
    height: 100px;
    width: 140px;
}

.contact-info-container {
    display: flex;
    width: 35%;
    height: 50%;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    color: rgb(110, 137, 161);
}